<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo" href="/vegans-dream/">
        <svg class="header-logo-icon-dots" width="16" height="16">
          <use href="/img/sprite.svg#icon-dots"></use>
        </svg>
        <svg class="header-logo-icon-text" width="134" height="12">
          <use href="/img/sprite.svg#icon-green-harvest-logo"></use>
        </svg>
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="#how-it-works">How it Works</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-list-item-shop"><a class="header-shop-link" href="#your-order">Shop Now</a></li>
      </ul>
    </nav>
    <button class="header-burger-btn" type="button" data-menu-open>
      <svg class="header-burger-btn-icon" width="26" height="20">
        <use href="/img/sprite.svg#icon-line"></use>
      </svg>
    </button>
  </div>
</header>
