<section class="reviews-section container-pad containter-pad-mob" id="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-heder">
      reviews from our
      <span class="reviews-heder-part"> customers </span>
    </h2>
    <p class="reviews-descr">
      Words of our customers: impressions and opinions about the quality of our services and the freshness of our
      products.
    </p>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <div class="reviews-list-item-container">
          <img
            class="reviewers-photo"
            srcset="/img/reviews/image1@2x.jpg 2x"
            src="/img/reviews/image1.jpg"
            alt="John Wax Photo"
          />
          <div class="reviewers-container">
            <h3 class="reviewers-name">John Wax</h3>
            <p class="reviewers-descr">
              These vegetables are my secret to delicious and healthy meals. The quality is always at the highest level,
              the aroma and taste are enchanting. I advise every fan of real products!
            </p>
          </div>
        </div>
      </li>
      <li class="reviews-list-item">
        <div class="reviews-list-item-container">
          <img
            class="reviewers-photo"
            srcset="/img/reviews/image2@2x.jpg 2x"
            src="/img/reviews/image2.jpg"
            alt="Victoria Romashenko Photo"
          />
          <div class="reviewers-container">
            <h3 class="reviewers-name">Victoria Romashenko</h3>
            <p class="reviewers-descr">
              I love how fast and fresh the vegetables are delivered. Salads always turn out so appetizing, and soups
              are real masterpieces. The quality is impeccable!
            </p>
          </div>
        </div>
      </li>
      <li class="reviews-list-item">
        <div class="reviews-list-item-container">
          <img
            class="reviewers-photo"
            srcset="/img/reviews/image3@2x.jpg 2x"
            src="/img/reviews/image3.jpg"
            alt="Ihor Trachuk Photo"
          />
          <div class="reviewers-container">
            <h3 class="reviewers-name">Ihor Trachuk</h3>
            <p class="reviewers-descr">
              Recently tried my fresh tomatoes and peppers - amazing! The authenticity of the taste, as if from the
              garden directly to my table. It is now my main vegetable supplier.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
