<section class="vegetables-bg container-pad containter-pad-mob" id="vegetables">
  <div class="container">
    <h2 class="vegetables-title">Organic <span class="second-title-color">vegetables</span></h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you
      get the freshest and most nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">eggplant</h3>
        <p class="vegetables-list-text">60 USD / kg</p>
        <img
          class="vegetables-list-img"
          srcset="/img/vegetables/carrot@2x.webp 2x"
          src="/img/vegetables/carrot.webp"
          alt="picture of eggplant"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">leek</h3>
        <p class="vegetables-list-text">50 USD / kg</p>
        <img
          class="vegetables-list-img"
          srcset="/img/vegetables/carrot2@2x.webp 2x"
          src="/img/vegetables/carrot2.webp"
          alt="picture of leek"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">mushrooms</h3>
        <p class="vegetables-list-text">40 USD / kg</p>
        <img
          class="vegetables-list-img"
          srcset="/img/vegetables/carrot3@2x.webp 2x"
          src="/img/vegetables/carrot3.webp"
          alt="picture of mushrooms"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">corn</h3>
        <p class="vegetables-list-text">60 USD / kg</p>
        <img
          class="vegetables-list-img"
          srcset="/img/vegetables/carrot4@2x.webp 2x"
          src="/img/vegetables/carrot4.webp"
          alt="picture of corn"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">sweet potatoes</h3>
        <p class="vegetables-list-text">50 USD / kg</p>
        <img
          class="vegetables-list-img"
          srcset="/img/vegetables/carrot5@2x.webp 2x"
          src="/img/vegetables/carrot5.webp"
          alt="picture of sweet potatoes"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">carrot</h3>
        <p class="vegetables-list-text">40 USD / kg</p>
        <img
          class="vegetables-list-img"
          srcset="/img/vegetables/carrot6@2x.webp 2x"
          src="/img/vegetables/carrot6.webp"
          alt="picture of carrot"
          width="282"
          height="243"
        />
      </li>
    </ul>
  </div>
</section>
