<section class="your-order containter-pad-mob container-pad" id="your-order">
  <div class="container">
    <div class="order-container">
      <h2 class="title-order">FRESH <span class="span-title">HARVEST</span> BOX HAS GOT YOU COVERED</h2>
      <p class="order-parag">
        Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or
        support local farmers. Order your box today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="cards-container">
      <div class="register-overlay">
        <div class="register">
          <p class="register-paragraph">
            ORDERING <span class="from-us">FROM US</span> IS QUICK AND EASY! FILL OUT
            <span class="the-form">THE FORM</span> BELOW AND WE WILL CONTACT YOU!
          </p>
          <form>
            <div class="form-input-div">
              <label class="input-register" for="user-name"></label>
              <div class="form-name">
                <input
                  type="text"
                  id="user-name"
                  name="user-name"
                  placeholder="Full Name"
                  class="input-username"
                  required
                />
              </div>
            </div>

            <div class="form-input-div">
              <label class="input-register" for="email"></label>
              <div class="form-div-email">
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Email"
                  pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                  class="input-username inp"
                  required
                />
                <p class="text-valid">Succes!</p>
                <p class="text-invalid">Invalid email, try again</p>
              </div>
            </div>
            <div class="coment-section">
              <label for="user-comment" class="input-modal"></label>
              <textarea
                id="user-comment"
                name="user-comment"
                placeholder="Comment"
                class="comment-textarea"
                rows="4"
                cols="50"
              ></textarea>
            </div>
            <button class="register-button" type="submit">SEND</button>
          </form>
        </div>
      </div>

      <div class="card-container">
        <img src="/img/order/order-img.jpg" srcset="/img/order/order-img@2x.jpg" class="main-photo" alt="vegan-food" />
        <div class="div-picture">
          <p class="social-media-p">Follow us on our social networks:</p>
          <div class="social-media">
            <a href="https://www.instagram.com/goitclub/" class="social-media-links" target="_blank">instagram</a>
            <span class="slash">/</span>
            <a href="https://www.facebook.com/goITclub/" class="social-media-links" target="_blank">facebook</a>
            <span class="slash">/</span>
            <a href="https://www.youtube.com/c/GoIT" class="social-media-links" target="_blank">youtube</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
